article {
   img {
      width: 100%;
   }
   p {
      padding-bottom: 1rem;
      word-break: break-word;
   }
}

.img-text {
   color:#999999;
   text-align: center; 
   display: block;
   font-size: 0.85em;
}
.tag-item {
   text-decoration: none;
}